*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 50px;
  background-color: #eeeeee;
  float: left;
  margin: 0%;
  padding: 0%;
  padding-top: 40px;
  width: 420px;
}

.location {
border: 1px solid gray;
float: left;
}

.content {
float: left;
margin: 0%;
margin-top: 5%;
margin-bottom: -10%;
width: 420px;}

.arrow {
float: right;
margin-bottom: 5%;
margin-top: 5%;
margin-right: 5%}

h1 {
  font-size: 2em; /* 32px */
  margin-left: 10%;
  font-weight: bold;
}

h3 {font-size: 1.4em;
margin-left: 10%;}

.location:hover {background-color: #aaa; } /* mouse over */
